/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hides arrows from input with number type. */
.hide-arrows {
  @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
}

.aspect-ratio-16-9 {
  width: 100%;
  padding-top: calc(100% * 9 / 16);
}

/* Tooltip syling for transitioning between enabled and disabled */
.tooltip.tooltip-hidden:before,
.tooltip.tooltip-hidden:after {
  opacity: 0;
}

/* Fixes scrollbar on the left appearing when drawer is open. */
html:has(.drawer-auto-gutter .drawer-toggle:checked) {
  scrollbar-gutter: auto
}

.material-symbols-outlined.material-symbols--filled {
  font-variation-settings: 'FILL' 1;
}